#!/usr/bin/env
alias vim=nvim
alias v=nvim

alias cls=clear

alias gogh='bash -c  "$(wget -qO- https://git.io/vQgMr)"' 

alias weather="curl wttr.in/indianapolis"

alias rcloneweb="rclone rcd --rc-web-gui --rc-user=admin --rc-pass=pass --rc-serve"

alias sudo=$'nocorrect sudo\t'
#alias sudo='sudo '
#alias nsudo='nocorrect sudo'

alias update='sudo apt-get update && sudo apt-get upgrade'

alias nlpath='echo -e ${PATH//:/"\n"}'

alias cp='cpg -g'
alias mv='mvg -g'

alias ls='lsd'

alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'

# ================== WINDOWS DIRECTORIES ====================
alias ~w='/mnt/c/Users/Chad/'
alias videos='/mnt/c/Users/Chad/Videos/'
alias documents='/mnt/c/Users/Chad/Documents/'
alias music='/mnt/c/Users/Chad/Music/'
alias downloads='/mnt/c/Users/Chad/Downloads/'

alias dots='/home/chad/dotfiles/'

# ===========  SET FIRST GLOBAL VARIABLE FOR TEST  ==========
alias -g ~W='/mnt/c/users/chad/'

alias path='echo $PATH | tr ":" "\n" | nl'

alias subl='"/mnt/c/Program Files/Sublime Text 3/subl.exe"'

# sends a document via ... after a pipe
alias ixio="curl -F 'f:1=<-' ix.io"

alias open='cmd.exe /C start'


alias tb="nc termbin.com 9999"
alias tbc="netcat termbin.com 9999 | clip.exe"

alias py=python3

alias starwars='telnet towel.blinkenlights.nl'

alias matrix='cmatrix -ba'


alias mklink=" . ~/bin/mklink.sh"

alias reddit='telnet redditbox.us'

wslttythemes='/mnt/c/Users/Chad/AppData/Roaming/wsltty/themes'

#   ______   ______     ______     _____
#  /\  ___\ /\  __ \   /\  ___\   /\  __-.
#  \ \  __\ \ \  __ \  \ \___  \  \ \ \/\ \
#   \ \_\    \ \_\ \_\  \/\_____\  \ \____-
#    \/_/     \/_/\/_/   \/_____/   \/____/
#
#
alias a='fasd -a'        # any
alias s='fasd -si'       # show / search / select
alias d='fasd -d'        # directory
alias f='fasd -f'        # file
alias sd='fasd -sid'     # interactive directory selection
alias sf='fasd -sif'     # interactive file selection
alias z='fasd_cd -d'     # cd, same functionality as j in autojump
alias zz='fasd_cd -d -i' # cd with interactive selection

#           __ __   
#   .-----.|__|  |_ 
#   |  _  ||  |   _|
#   |___  ||__|____|
#   |_____|         
#

alias gs='git status'
alias gc='commit'
alias gpush='git push'
alias gp='git pull'
alias gf='git fetch'

# egrep with colored output
alias -g C="|& egrep --color"
# show newest file in directory
alias -g NF='*(.om[1])'

# pipe to windows clipboard
alias -g clip="| clip.exe"


